services:
  web:
    build: .
    command: gunicorn -w 4 -b 0.0.0.0:3000 app:app
    volumes:
      - .:/app
    ports:
      - "3020:3000"
    environment:
      - FLASK_ENV=production
    env_file:
      - .env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
